:root {
  --clr-primary-200: #f3eed9;
  --clr-primary-400: #824936;

  --clr-neutral-000: #fff;
  --clr-neutral-100: #ddd;
  --clr-neutral-200: #ccc;
  --clr-neutral-300: #aaa;
  --clr-neutral-400: #999;
  --clr-neutral-500: #888;
  --clr-neutral-600: #666;
  --clr-neutral-700: #444;
  --clr-neutral-800: #222;
  --clr-neutral-900: #000;

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-000);

  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  /* color: var(--clr-neutral-800); */
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}

h2,
h3,
h4,
p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.hero {
  min-height: 100vh;
  background-image: url("../img/hero.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

header,
section,
footer {
  padding: 4rem 0;
}

@media (min-width: 40em) {
  header,
  section,
  footer {
    padding: 7rem 0;
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

.container-narrow {
  max-width: 35rem;
}

.avatar {
  max-height: 600px;
}

.bg-light {
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-000);
}

/* .bg-primary {
  color: var(--clr-neutral-000);
  background-color: var(--clr-primary-400);
} */

.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.round-full {
  border-color: #000000;
  border-style: solid;
  border-width: 1px 1px;
  border-radius: 1em;
}

.round-top {
  border-color: #000000;
  border-style: solid;
  border-width: 1px 1px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

/* .bg-primary h2,
.bg-dark h2 {
  color: var(--clr-neutral-100);
} */

/* Bouton temp */
.myButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.myButton:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}
.myButton:active {
  position: relative;
  top: 1px;
}
